@import "../../style/variable";

.blog-post-card {
  padding: 2rem;
  margin-bottom: 1.5rem;
  background: $content-background;
  border-bottom: 3px solid $border-color;
  display: block;
  transition: all 0.3s ease-in-out;
  &:hover {
    border-bottom-color: $primary-color;
  }
  > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  h3 {
    margin-bottom: 0;
  }
  p {
    color: $content-color;
  }
  .meta {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      color: lighten($border-color, 10%);
      display: inline-block;
      &:not(:first-child) {
        &:before {
          content: '|';
          margin: 0 0.4rem;
        }
      }
    }
  }
}
